In [1]:
import pandas as pd
import numpy as np

In [2]:
chess = pd.read_csv("chess.csv")

In [3]:
chess.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.500000e+12,1.500000e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.500000e+12,1.500000e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.500000e+12,1.500000e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.500000e+12,1.500000e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.500000e+12,1.500000e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

# changing created_at and last_move_at columns to datetime data type

In [4]:
chess_times = chess[['created_at','last_move_at']].copy()
chess_times['created_at_dt'] = pd.to_datetime(chess_times['created_at']/1000, 
                                           unit='s', 
                                           origin='unix')

chess_times['last_move_at_dt'] = pd.to_datetime(chess_times['last_move_at']/1000, 
                                             unit='s', 
                                             origin='unix')

In [5]:
chess_times.head()

     created_at  last_move_at       created_at_dt     last_move_at_dt
0  1.500000e+12  1.500000e+12 2017-07-14 02:40:00 2017-07-14 02:40:00
1  1.500000e+12  1.500000e+12 2017-07-14 02:40:00 2017-07-14 02:40:00
2  1.500000e+12  1.500000e+12 2017-07-14 02:40:00 2017-07-14 02:40:00
3  1.500000e+12  1.500000e+12 2017-07-14 02:40:00 2017-07-14 02:40:00
4  1.500000e+12  1.500000e+12 2017-07-14 02:40:00 2017-07-14 02:40:00

### Am now seeing that these all have the same day and time. The data must have been input incorrectly. Will not be using these columns.

In [6]:
chess.drop(['created_at', 'last_move_at'], axis=1)

,id,rated,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20054,WSJDhbPl,True,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2
20055,yrAas0Kj,True,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4
20057,N8G2JHGG,True,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3

# Checking data types

In [7]:
chess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 1.6+ MB

# Recoding winner column for regression

In [8]:
def recode (series):
    if series == "white":
        return 1
    if series == "black":
        return 2
    if series == "draw":
        return 3
chess['winnerR'] = chess['winner'].apply(recode)

### Doing same with victory_status column

In [49]:
def recode1 (series):
    if series == "outoftime":
        return 1
    if series == "resign":
        return 2
    if series == "mate":
        return 3
    if series == "draw":
        return 4
chess['victory_statusR'] = chess['victory_status'].apply(recode1)

# Now, dummy coding so I can utilize linear regression for some analyses

In [50]:
WinnerDummy = pd.get_dummies(chess['winner'])

In [51]:
WinnerDummy.head()

   black  draw  white
0      0     0      1
1      1     0      0
2      0     0      1
3      0     0      1
4      0     0      1

In [52]:
chess1 = pd.concat([chess, WinnerDummy],axis=1)

In [12]:
chess1.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,winnerR,black,draw,white
0,TZJHLljE,False,1.500000e+12,1.500000e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,1,0,0,1
1,l1NXvwaE,True,1.500000e+12,1.500000e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,2,1,0,0
2,mIICvQHh,True,1.500000e+12,1.500000e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,1,0,0,1
3,kWKvrqYL,True,1.500000e+12,1.500000e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,1,0,0,1
4,9tXo1AUZ,True,1.500000e+12,1.500000e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,1,0,0,1

# Setting white_rating and white variables into own dataframe for linear regression

In [53]:
x = chess1['white_rating']
y = chess1['white']

# Doing same thing for black_rating and black

In [54]:
x1 = chess1["black_rating"]
y1 = chess1["black"]

# "Trimming" dataset for K nearest neighbors

In [55]:
chessTrimmed = chess1[["turns", "victory_statusR", "winnerR", "black_rating", "white_rating"]]

# Standardizing number of turns column

In [56]:
def standardize(val):
    p = (val - val.mean())/val.std()
    return p


chessTrimmed["turns"] = standardize(chessTrimmed["turns"])

<ipython-input-56-b266228e58f0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chessTrimmed["turns"] = standardize(chessTrimmed["turns"])

# Scaling y variables

In [57]:
from sklearn.preprocessing import StandardScaler

In [58]:
scaler = StandardScaler()
scaler.fit(chessTrimmed.drop('winnerR', axis=1))
scaledVariables = scaler.transform(chessTrimmed.drop('winnerR',axis=1))
chessScaled = pd.DataFrame(scaledVariables, columns=chessTrimmed.columns[:-1])

## Creating new dataframe with most popular opening move and winner to easily create a visual for this

In [59]:
OpeningDummy = pd.get_dummies(chess['opening_name'])

In [60]:
chess_winner = chess[['winner']]

In [61]:
chess2 = pd.concat([chess_winner, OpeningDummy],axis=1)

In [62]:
chess3 = chess2[['winner', "Van't Kruijs Opening"]]

In [63]:
def recode (series):
    if series == "white":
        return 1
    if series == "black":
        return 2
    if series == "draw":
        return 3
chess3['winnerR'] = chess3['winner'].apply(recode)

<ipython-input-63-ac36784d50c4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chess3['winnerR'] = chess3['winner'].apply(recode)

In [41]:
chess3.winnerR.value_counts()

1    10001
2     9107
3      950
Name: winnerR, dtype: int64

In [43]:
VK = chess3[(chess3["Van't Kruijs Opening"] > 0)] ["winnerR"].value_counts().head(3)

In [44]:
VK

2    226
1    126
3     16
Name: winnerR, dtype: int64

# Exploratory Analysis

In [45]:
import matplotlib.pyplot as plt
import seaborn as sns

## Dropping string columns to run a correlation matrix

In [64]:
chess4 = chess.drop(['id', 'winner', "victory_status", 'created_at', 'last_move_at', 'rated', 'increment_code', 'black_id', 'white_id', 'moves', 'opening_eco', 'opening_name'], axis=1)

In [65]:
chess4.head()

   turns  white_rating  black_rating  opening_ply  winnerR  victory_statusR
0     13          1500          1191            5        1                1
1     16          1322          1261            4        2                2
2     61          1496          1500            3        1                3
3     61          1439          1454            3        1                3
4     95          1523          1469            5        1                3

In [66]:
chess4.corr(method='pearson')

,turns,white_rating,black_rating,opening_ply,winnerR,victory_statusR
turns,1.000000,0.129753,0.160467,0.055999,0.129875,0.113909
white_rating,0.129753,1.000000,0.634171,0.277379,-0.093497,-0.084577
black_rating,0.160467,0.634171,1.000000,0.255396,0.160843,-0.087829
opening_ply,0.055999,0.277379,0.255396,1.000000,-0.006809,-0.034671
winnerR,0.129875,-0.093497,0.160843,-0.006809,1.000000,0.265574
victory_statusR,0.113909,-0.084577,-0.087829,-0.034671,0.265574,1.000000

### Ratings are highly correlated (63%). Not seeing any other high correlations.

## Basic descriptive stats

In [67]:
chess.white_rating.mean()

1596.6318675840064

In [69]:
 chess.black_rating.mean()

1588.8319872370128

In [68]:
  chess.black_rating.mean()

1588.8319872370128

In [70]:
chess.white_rating.min()

784

In [71]:
chess.black_rating.min()

789

In [74]:
chess.white_rating.max()

2700

In [75]:
chess.black_rating.max()

2723

In [76]:
chess.winner.value_counts()

white    10001
black     9107
draw       950
Name: winner, dtype: int64

In [77]:
chess.victory_status.value_counts()

resign       11147
mate          6325
outoftime     1680
draw           906
Name: victory_status, dtype: int64

In [78]:
chess.turns.mean()

60.46599860404826

In [79]:
chess.turns.max()

349

In [80]:
chess.turns.min()

1

In [81]:
chess.opening_name.value_counts()

Van't Kruijs Opening                                                            368
Sicilian Defense                                                                358
Sicilian Defense: Bowdler Attack                                                296
Scotch Game                                                                     271
French Defense: Knight Variation                                                271
                                                                               ...
Grob Opening: Spike Attack                                                        1
English Opening: Agincourt Defense |  Neo-Catalan Declined                        1
Sicilian Defense: Paulsen Variation |  Bastrikov Variation |  English Attack      1
Philidor Defense: Bird Gambit                                                     1
French Defense: Classical Variation |  Pollock Variation                          1
Name: opening_name, Length: 1477, dtype: int64